.container {
   margin: 0 200px;
}
header {
   background-color: #29685F;
}
div li {
   font-family: 'Fredericka the Great', cursive;
   font-size: 30px;
}
li {
   list-style: none;
}
.logo {
text-align: center;
}
.nav {
   font-size: 30px;
   font-family: 'Fredericka the Great', cursive;
   display: flex;
   justify-content: space-around;
   padding: 10px;
   margin: 0;
   list-style: none;
}
a {
   text-decoration: none;
   color: white;
}
.menu {
   display: flex;
   justify-content: space-between;
}
.menu__price {
   display: flex;
}
.price {
   line-height: 1.4;
}
.h {
   font-size: 50px;
   font-family: 'Fredericka the Great', cursive;
   text-align: center;
}