html {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }
 * {
   margin: 0;
   padding: 0;
 }
 
 h2 {
  background-color: #29685F;
  color: #ffffff;
  margin-bottom: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
 }
 section {
  border-right: 2px solid #29685F;
   border-left: 2px solid #29685F;
   border-bottom: 2px solid #29685F;
 }
 .img-block {
   display: block;
 }
 .flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
 }
.container {
  font-family: "Alegreya SC";
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
header {
   background-color: #29685F;
   margin-bottom: 2px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.filter-examples-list {
  display: none;
}


.eng-font {
   font-family: 'Fredericka the Great', cursive;
   font-size: 30px;
}

.logo {
text-align: center;
padding-bottom: 25px;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.nav {
  background-color: #29685F;
   font-size: 30px;
   font-family: 'Fredericka the Great', cursive;
   display: flex;
   justify-content: space-around;
   padding-top: 25px;
   padding-bottom: 25px;
   margin: 0;
   list-style: none;
   border-top: 2px solid #ffffff;
   border-bottom: 2px solid #ffffff;
}

.nav a {
  color: #ffffff;
}
.nav a:hover,
.nav a:focus {
  color: tomato;
  transition: all ease 0.5s;
}



.advertising{
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 170px;
  padding-right: 252px;
  padding-bottom: 230px;
  padding-left: 322px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.advertising__title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #29685F;
  margin-bottom: 30px;
  animation-name: show;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.modal__btn {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.87;
  height: 50px;
  width: 200px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #29685F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: none;
  margin: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.btn__run:hover {
  transform: translateY(-75px);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-width: 550px;
min-height: 300px;
border-radius: 10px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
background-color: tomato;
padding: 50px;
}
.modal__window p {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.87;
}
.no__money {
  color: #000;
  text-transform: uppercase;
  font-weight: bolder;
}
.modal__close {
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 4px;
  border: none;
  background: none;
  opacity: 1;
  cursor: pointer;
}
.modal__close svg:hover {
  background-color: #ffffff;
  color: #212121;
}



.section__menu{
   background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.7),
      rgba(47, 48, 58, 0.9)
    ),
    url("../images/cooffee_shop.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 25px;
   color: #fff;
   text-shadow: 4px 4px 10px #29685f86;
   margin-bottom: 20px;
}

.menu {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
}
h3 {
   display: flex;
   font-family: Alegreya SC;
   font-weight: 500;
   text-transform: uppercase;
   justify-content: space-around;
   padding-top: 50px;
   padding-bottom: 20px;
   font-size: 30px;
}
.menu__block {
  width: 40%;
   padding-left: 15px;
   padding-right: 15px;
   border: 2px solid #29685F;
   border-radius: 10%;
   margin-bottom: 25px;
}
.menu__block h3 {
  background-color: #29685F;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 5px;
  color: #fff;
}
.menu__item{
   line-height: 1.75;
}
.menu__price {
   display: flex;
   justify-content: space-between;
   padding-top: 15px;
   padding-bottom: 15px;

}
.menu__price li {
   font-family: Alegreya SC;
   text-transform: uppercase;
   font-size: 22px;
}
.price {
   line-height: 1.75;
   margin-left: 15px;
}
.h {
   font-size: 50px;
   text-align: center;
   font-style: italic;
   font-weight: 300;
   padding-top: 15px;
   padding-bottom: 15px;
}
.our__coffee {
  background-color: #fff;
   padding-bottom: 25px;
   margin-bottom: 20px;
   background-image: url(../images/grain.png), url(../images/brasil+-500x500.jpg);
   background-repeat: no-repeat;
   background-size: 300px 200px, 300px 300px;
   background-position: top left, bottom right;
   
}
.our__coffee li {
   display: flex;
   align-items: center;
}


.coffee-name__overlay {
  
  position: absolute;
  bottom: 0;
  background-color: rgba(41, 104, 95, 0.8);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 3;
 }
.filter-examples-name {
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: #fff;
   border-color: #29685F;
   margin-bottom: 4px;
   text-align: center;

 }

 .filter-examples-link {
   width: 275px;
   height: 304px;
   border: 1px solid #eeeeee;
   padding-bottom: 20px;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .img-animation {
   position: relative;
   overflow: hidden;
 }
 
 .overlay {
   position: absolute;
   overflow: scroll;
   width: 100%;
   height: 100%;
   background: #29685fd5;
   top: 100%;
   left: 0;
   padding: 14px 24px;
   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
   z-index: 5;
 }
 
 .overlay-text {
   display: block;
   font-size: 18px;
   line-height: 1.55;
   letter-spacing: 0.03em;
   color: #ffffff;
 }
 
 .img-animation:hover .overlay {
   top: 0;
 }
 
 .filter-examples-link:hover,
 .filter-examples-link:focus {
   box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
   border: none;
 }
 
 .img-animation:hover,
 .img-animation:focus {
   background-color: #29685fd5;
 }
.filter-examples-list {
   display: flex;
   flex-wrap: wrap;
 }
 
 .filter-examples-list-item {
   width: 275px;
   height: 304px;
   background-color: #ffffff;
   margin-bottom: 30px;
 }
 
 
 .team {
  margin-bottom: 2px;
  background-color: rgba(41, 104, 95, 0.1);
 }
 .team__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 10px;
   padding-top: 20px;
 }
 .team__item {
   text-align: center;
   background-color: #ffffff;
  padding-bottom: 14px;
  box-shadow: 0px 2px 1px rgba(41, 102, 93, 0.2), 0px 1px 1px rgba(41, 102, 93, 0.14), 0px 1px 3px rgba(41, 102, 93, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 2px;
 }
 .team__item:not(:last-child){
   margin-right: 10px;
 }
 .team__item .team__name{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 10px;
   text-transform: none;
 }
 .team__item img {
  border-radius: 50%;
  padding: 10px;
 }
 .team__links svg {
  width: 50px;
  height: 50px;
 }
 .team__links svg g {
  fill: #29685F;
 }
 .team__links svg:hover g {
  fill: tomato;
  transition: all ease 0.5s;
 }

 .team__position{
   text-align: center;
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 400px;
   color: #757575;
 }
 







 .carousel-wrapper{
   height:400px;
   position:relative;
   width:600px;
   margin:0 auto;
 }
 .carousel-item{
   position:absolute;
   justify-content: center;
   align-items: center;
   top:0;
   bottom:0;
   left:0;
   right:0;
   padding:25px 50px;
   opacity:0;
   transition: all 0.5s ease-in-out;
 }
 .carousel-item p {
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
 }
 .arrow{
   border: solid black;
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 12px;
 }
 
 .arrow-prev{
   left:-30px;
   position:absolute;
   top:80%;
   transform:translateY(-50%) rotate(135deg);
 }
  
 .arrow-next{
     right:-30px;
   position:absolute;
   top:20%;
   transform:translateY(-50%) rotate(-45deg);
   }
 
 .light{
   color:white;
 }
 
 @media (max-width: 480px) {
       .arrow, .light .arrow {
         background-size: 10px;
         background-position: 10px 50%;
       }
     }
 
 
 /*Select every element*/
 [id^="item"] {
     display: none;
   }
 
 .item-1 {
     z-index: 2;
     opacity: 1;
   }
 *:target ~ .item-1 {
     opacity: 0;
   }
 
 #item-1:target ~ .item-1 {
     opacity: 1;
   }
 
 #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
     z-index: 3;
     opacity: 1;
   }

   footer svg {
    fill: #fff;
   }
   footer svg:hover,
   footer svg:focus {
    fill: tomato;
    transition: all ease 0.5s;
   }
   
   
   .footer {
    background-color: #29685F;
    padding-top: 25px;
    padding-bottom: 25px;

   }
   
   .footer__logo,
   address,
   .footer__instagram {
    width: 30%;
   }
   


   @media screen and (min-width: 320px) and (max-width: 479px) {
    .container {
      margin: 0 auto;
    }
    .cat {
      display: none;
    }
    .logo__coffee {
      width: 275px;
    }
    .nav {
      display: block;
      text-align: center;
    }
    .advertising {
      padding: 0;
    }
    .advertising__title {
      padding-top: 88px;
      font-size: 17px;
      margin-left: 32px;
    }
    .advertising .flex {
      display: block;
      margin-bottom: 130px;
      margin-left: 30px;
    }
    .modal__btn {
      display: inline-block;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.87;
      height: 30px;
      width: 70px;
    }
    .modal__window {
      min-width: 200px;
      min-height: 200px;
    }
    .modal__window p{
      font-size: 20px;
    }
    .menu__block {
      width: 400px;
    }
    .menu__price li {
      font-size: 20px;
    }
    .filter-examples-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .filter-examples-name {
      font-weight: normal;
      letter-spacing: 0.17em;
      text-transform: uppercase;
    }
    .carousel-wrapper {
      display: none;
    }
    .our__coffee li {
      margin-bottom: 20px;
    }


    .our__coffee {
      background-image: none;
    }
    .team__item:not(:last-child) {
      margin-right: 0px; 
    }
    .team__item{
     margin-bottom: 10px;
    }
    .footer {
      padding-left: 40px;
      padding-right: 40px;
    }
    .footer__logo, address, 
    .footer__instagram {
      width: 125px; 
  }
    .footer__logo svg {
      width: 125px;
      height: 100px;
    } 
    address svg,
    .footer__instagram svg {
      width: 50px;
      height: 50px;
    }
   }
   @media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
      width: 480px;
      margin: 0 auto;
    }
    .advertising {
      padding-top: 130px;
      padding-right: 52px;
      padding-bottom: 170px;
      padding-left: 22px;
  }
    .cat {
      display: none;
    }
    .advertising__title {
      font-size: 22px;
      margin-left: 60px;
    }
    .modal__btn {
      font-weight: bold;
      font-size: 26px;
      line-height: 1.87;
      height: 50px;
      width: 100px;
      margin-left: 80px;
    }
    .modal__window {
      min-width: 400px;
    }
    .menu__block {
      width: 400px;
    }
    .our__coffee {
      background-image: none;
    }
    .carousel-wrapper {
      height: 530px;
      position: relative;
      width: 350px;
      margin: 0 auto;
    }
    .team__item:not(:last-child) {
      margin-right: 0px; 
    }
    .team__item{
     margin-bottom: 10px;
    }
    .footer__logo svg {
      width: 150px;
      height: 125px;
    } 
    address svg,
    .footer__instagram svg {
      width: 60px;
      height: 60px;
    }
    .filter-examples-list {
      display: none;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
      width: 768px;
    }
    .advertising{
      padding-right: 100px;
      padding-left: 155px;
      }
      .menu__price li {
        font-size: 20px;
      }
      .our__coffee {
        background-size: 200px 150px, 170px 170px;
      }
      .team__item:not(:last-child) {
         margin-right: 0px; 
      }
    .team__item{
      margin-bottom: 10px;
    }
    .footer__logo svg {
      width: 200px;
      height: 125px;
    } 
    address svg,
    .footer__instagram svg {
      width: 90px;
      height: 90px;
    }
    .filter-examples-list {
      display: none;
    }
    
    }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
    .filter-examples-list {
      display: none;
    }
  }